extends layout

block content
  table.banner
    tbody
      tr.banner
        td.banner(width='250')
          img(src='/images/CloudMartLarge.png', width='210', height='140')
        td.banner
          h1 Thank you for shopping at #{title}
  table#tabProds
    tbody
      tr
        th(colspan='4')
          span#shoppingCart
  form
    table#tabPay
      tbody
        tr
          th(colspan='3') Payment Method
        tr
          td Credit Card
          td
            img(src='/images/CreditCard-MasterCard.png', title='MasterCard', width='50', height='31')
            | &nbsp;
            img(src='/images/CreditCard-Visa.png', title='Visa', width='50', height='31')
            | &nbsp;
            img(src='/images/CreditCard-Discover.png', title='Discover Card', width='50', height='31')
            | &nbsp;
            img(src='/images/CreditCard-AmEx.png', title='American Express', width='50', height='31')
            | &nbsp;
            img(src='/images/CreditCard-Diners.png', title='Diners Club', width='50', height='31')
            | &nbsp;
            img(src='/images/CreditCard-JCB.png', title='JCB', width='50', height='31')
            | &nbsp;
            #div-cc
              | Card Number: 
              input#acct-cc(type='text', size='20', maxlength='20', onkeyup='enablePay();')
              | Exp: 
              input#exp-cc(type='text', size='5', maxlength='5', onkeyup='enablePay();')
            #msg-cc(style='color: green')
          td
            input#btn-cc(type='button', name='btn-cc', value='Select', onclick='selectptype(0);')
            span#txt-cc Selected
        tr
          td Rewards
          td
            img(src='/images/Rewards-Nimbus.png', title='Nimbus Rewards', width='50', height='31')
            | &nbsp;
            #div-rbc
              | Card Number: 
              input#acct-rbc(type='text', maxlength='20', onkeyup='enableQuery();')
              span#querySpinner
              input#btn-rbcq(type='button', name='btn-rbcq', value='Check Balance', onclick='queryPoints();')
            #msg-rbc(style='color: green')
          td
            input#btn-rbc(type='button', name='btn-rbc', value='Select', onclick='selectptype(1);')
            span#txt-rbc Selected
        tr
          td PayPal
          td
            img(src='/images/PayPalLogo.png', title='PayPal', width='50', height='31')
            | &nbsp;
            #div-pp
              | E-mail: 
              input#acct-pp(type='text', size='40', onkeyup='enablePay();')
            #msg-pp(style='color: green')
          td
            input#btn-pp(type='button', name='btn-pp', value='Select', onclick='selectptype(2);')
            span#txt-pp Selected
        tr
          th(colspan='3')
            span#paySpinner
            input#btn-submit(type='button', name='btn-submit', value='Pay', onclick='pay();')
  table#tabMsg.messages
    tbody
      tr
        td.messages
          #infoDiv.infoMsg
          #errorDiv.errorMsg
  script(type='text/javascript', <src='/javascripts/util.js').
  script(type='text/javascript', src='/javascripts/index.js')